    * {
        margin: 0%;
        padding: 0%;
                text-decoration: none;
                box-sizing: border-box;
            }
            
            body {
                background-color: rgb(13, 245, 137);
                color: rgba(156, 8, 8, 0.651);
            }
            /* header */
            header {
                text-align: center;
                font-size: 40px;
                /* background-color:black; */
            }
            
            .frinzo {
                text-decoration: none;
                font-weight: bold;
                font-family: cursive;
                display: inline;
            }
                    @media (min-width: 1000px) {
                        #btn{
                            display:none;
                            visibility: hidden;
                        }
                        .material-{
                            /* visibility: visible; */
                            display: flex;
                        }
                        ul a {
                        margin: 20px;
                          }
                        }
                             
                    #btn{
                right: 2%;
                display: inline;
                position: absolute;
                color:black;
                    }
            .material-{
                display: none;
            }
.main-para{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 2rem;
}            
            .frinzo {
                animation: frinzo 2s  1;
                color:rgba(224, 7, 7, 0.904);   
            }
         @keyframes frinzo {
                from {
                    opacity: 1;
                    color:rgba(224, 7, 7, 0.904);
                    border-top: 5px solid rgb(255, 47, 210);
                    border-bottom: 5px solid greenyellow;
                    border-left: hidden;
                }
                to {
                    opacity: 0;
                    color: rgb(255, 47, 175);
                    border-right: 5px solid red;
                    border-left: 5px solid red;
                }
            } 
            .intro{
              color: red;
              transition: all;
            }
            .intro :hover{
                transform: rotate("360deg");
                
            }
            .headline{
                width: 100%;
            }
           .material- li {
                color: rgb(8, 7, 7);
                list-style: none;
            }
            
            .material- li:hover {
                color: red;
                background-color: rgb(13, 230, 67);

            }
            
            iframe{
                width: 40%;
                height: 50%;
                margin: 0 30%;
                padding: 0 4%;
            } 
            
            .label-for-iframe{
                text-align: center;
                background: #000;
                border: 2px solid aqua;
                color: greenyellow;
                width: 40%;
                margin: 2% 30%;  
            } 
            @media (max-width: 600px) {
                iframe{
                    width: 100%;
                    height: 50%;
                    margin: 0%;
                }
                .label-for-iframe{
                    width: 100%;
                    margin: 0%;
                } 
            }
            /* div container of video */
            #video-gallery{
                width: 100%;
                height: 250px;
                overflow-y: scroll;
                /* overflow-y: hidden; */
                display: block;
            }
            .vid-sec-head{
             text-align: center;
            background: #000; 
             color: aqua;
            }
            .vid-sec-head:hover{
                letter-spacing: 1vh;
                transition: all ease 2s;
            }
.btn{
    /* background: #000;; */
    background-image: url(/images/menu.svg);
    width: 5%;
    height: 2.5%;
    line-height: 2vh;
}
    footer{
    background-color:rgb(8, 7, 7);
    height:10%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
}
a :visited{
    color: red;
}
.fa:hover {
    opacity: 0.7;
    color: red;
}
.coming{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.notes-head{
    text-align: center;
}
#subs{
    display: none;
}
.CLG-notes{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}